 input.button {
  background: #e3403a;
  border: 1px solid #da251f;
  box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  width: 100px;
  height: 50px;
}

input.button:hover {
  background: #e02c26;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #ec817d;
  text-decoration: none;
  text-shadow: -1px -1px 0 #c2211c;
  transition: all 250ms linear;
}
b {
	
    font-size: 35px;
    padding-left: 66px;

}
p#cauhoi{
	  font-size: 35px;
    padding-left: 66px;
    font-family: -webkit-body;
}